body{min-height:110vh;background: no-repeat center/cover fixed 
url('https://64.media.tumblr.com/db40339f742ab4a86b17fe1d2e7f8e92/8c3a420cd2eb00e6-ad/s500x750/f0e709564599052956f67c68e0148e2a9bb7931d.gif')}div,td,li,a,footer,nav{background:transparent!important;color:#fff!important;border:none!important;}
